{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>C2C | JOBS</title>
  <link rel="icon" type="image/png" href="{% static 'images/logo1.png'%}">
  <link rel="stylesheet" href="{%static 'css/job.css'%}">
  <link rel="stylesheet" href="{%static 'css/sylla.css'%}">


  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  
</head>
<body>
    
    <div class="container">
        <h1 class="main-heading">Welcome Back, Job Seekers!</h1>
        <p class="description">Explore various opportunities in different fields and take the next step in your career.</p>
        <div class="top">TOP COMPANIES  - SDE</div>
        <div class="swiper card-wrapper">
          <ul class="card-list swiper-wrapper">
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/QTjDklEwQLoPHUTRN-LIPo7vyP4u_eN8MU2UBOgGt6c/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTMz/ODA3MjUyMi9waG90/by9pbmZvc3lzLXUt/cy1lZHVjYXRpb24t/Y2VudGVyLWluZm9z/eXMtaXMtYmFzZWQt/aW4taW5kaWEtYW5k/LWlzLWEtd29ybGR3/aWRlLWl0LWFpLWFu/ZC1kaWdpdGFsLmpw/Zz9zPTYxMng2MTIm/dz0wJms9MjAmYz1F/aUNJenF1TVNaeDNJ/VVdlUVBxUUl1THdP/S0R0M0dqOVVRSnky/VU12cG1VPQ" alt="Card Image" class="card-image">
                <p class="badge badge-designer">Mobile App Developer</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.infosys.com/'">Click here</button>

              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/QShOn8T86Br_p2uH5LsKxD7EU311En-Nl34rnps6wzY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bGl2ZW1pbnQuY29t/L2xtLWltZy9pbWcv/MjAyNS8wMS8wNi82/MDB4MzM4L1dJUFJP/LVJFU1VMVFMtLTBf/MTcwODUzMDAyOTYw/NF8xNzM2MTU4NzM2/MDQzLkpQRw" alt="Card Image" class="card-image">
                <p class="badge badge-developer">Game Developer</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.wipro.com/'">Click here</button>
              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/qA7thHvsc2JM9KjHstl_DeF2a4D0OlMeXCEj6K_J1pY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9lcnAu/dG9kYXkvd3AtY29u/dGVudC91cGxvYWRz/LzIwMjQvMDcvMzk4/NTczMTYxNV8yMTA3/OGU0NzkzX28tMTAy/NHg2ODUuanBn" alt="Card Image" class="card-image">
                <p class="badge badge-marketer">Javascript Developer</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.cognizant.com/in/en'">Click here</button>

              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/67myYyPI9CjFpwcF_pY41iZurX4ZOQ34v26FfFJ2LNw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9j/L2M5L1pvaG9faGVh/ZHF1YXJ0ZXJzX2lu/X2NoZW5uYWkuanBn" alt="Card Image" class="card-image">
                <p class="badge badge-gamer">Front-End Developer</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.zoho.com/'">Click here</button>

              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/5Sml776_IVK3_R8vnJI49U6LMN3s9JH3e5mJC-A4gZo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTA0/NDk3NjA1Mi9waG90/by9hbWF6b24tY29t/LWZ1bGZpbGxtZW50/LWNlbnRlci1hbWF6/b24taXMtdGhlLWxh/cmdlc3QtaW50ZXJu/ZXQtYmFzZWQtcmV0/YWlsZXItaW4tdGhl/LXVuaXRlZC5qcGc_/cz02MTJ4NjEyJnc9/MCZrPTIwJmM9RWs1/Um02Z1psWUY2QUd3/RDl2NHlDSG55b05j/TGlhWDNLZ2V4N3Vi/OUxMdz0" alt="Card Image" class="card-image">
                <p class="badge badge-editor">Cloud Computing & Devops</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.amazon.com/'">Click here</button>

              </a>
            </li>
          </ul>

          
          <div class="swiper-pagination"></div>
          <div class="swiper-slide-button swiper-button-prev"></div>
          <div class="swiper-slide-button swiper-button-next"></div>
        </div>
<hr>
<div class="top">TOP COMPANIES  - DIGITAL MARKETING</div>

        <div class="swiper card-wrapper">
          <ul class="card-list swiper-wrapper">
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/QTjDklEwQLoPHUTRN-LIPo7vyP4u_eN8MU2UBOgGt6c/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTMz/ODA3MjUyMi9waG90/by9pbmZvc3lzLXUt/cy1lZHVjYXRpb24t/Y2VudGVyLWluZm9z/eXMtaXMtYmFzZWQt/aW4taW5kaWEtYW5k/LWlzLWEtd29ybGR3/aWRlLWl0LWFpLWFu/ZC1kaWdpdGFsLmpw/Zz9zPTYxMng2MTIm/dz0wJms9MjAmYz1F/aUNJenF1TVNaeDNJ/VVdlUVBxUUl1THdP/S0R0M0dqOVVRSnky/VU12cG1VPQ" alt="Card Image" class="card-image">
                <p class="badge badge-designer">Content Marketer</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.infosys.com/'">Click here</button>

              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/QShOn8T86Br_p2uH5LsKxD7EU311En-Nl34rnps6wzY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bGl2ZW1pbnQuY29t/L2xtLWltZy9pbWcv/MjAyNS8wMS8wNi82/MDB4MzM4L1dJUFJP/LVJFU1VMVFMtLTBf/MTcwODUzMDAyOTYw/NF8xNzM2MTU4NzM2/MDQzLkpQRw" alt="Card Image" class="card-image">
                <p class="badge badge-developer">Email Marketing Specialist</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.wipro.com/'">Click here</button>
              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/qA7thHvsc2JM9KjHstl_DeF2a4D0OlMeXCEj6K_J1pY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9lcnAu/dG9kYXkvd3AtY29u/dGVudC91cGxvYWRz/LzIwMjQvMDcvMzk4/NTczMTYxNV8yMTA3/OGU0NzkzX28tMTAy/NHg2ODUuanBn" alt="Card Image" class="card-image">
                <p class="badge badge-marketer">Social Media Manager</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.cognizant.com/in/en'">Click here</button>

              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/67myYyPI9CjFpwcF_pY41iZurX4ZOQ34v26FfFJ2LNw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9j/L2M5L1pvaG9faGVh/ZHF1YXJ0ZXJzX2lu/X2NoZW5uYWkuanBn" alt="Card Image" class="card-image">
                <p class="badge badge-gamer">SEO Specialist</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.zoho.com/'">Click here</button>

              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/5Sml776_IVK3_R8vnJI49U6LMN3s9JH3e5mJC-A4gZo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTA0/NDk3NjA1Mi9waG90/by9hbWF6b24tY29t/LWZ1bGZpbGxtZW50/LWNlbnRlci1hbWF6/b24taXMtdGhlLWxh/cmdlc3QtaW50ZXJu/ZXQtYmFzZWQtcmV0/YWlsZXItaW4tdGhl/LXVuaXRlZC5qcGc_/cz02MTJ4NjEyJnc9/MCZrPTIwJmM9RWs1/Um02Z1psWUY2QUd3/RDl2NHlDSG55b05j/TGlhWDNLZ2V4N3Vi/OUxMdz0" alt="Card Image" class="card-image">
                <p class="badge badge-editor">Wen Analyst</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.amazon.com/'">Click here</button>

              </a>
            </li>
          </ul>

          
          <div class="swiper-pagination"></div>
          <div class="swiper-slide-button swiper-button-prev"></div>
          <div class="swiper-slide-button swiper-button-next"></div>
        </div>
        <hr>
        <div class="top">TOP COMPANIES  - DATA SCIENCE</div>

        <div class="swiper card-wrapper">
          <ul class="card-list swiper-wrapper">
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/QTjDklEwQLoPHUTRN-LIPo7vyP4u_eN8MU2UBOgGt6c/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTMz/ODA3MjUyMi9waG90/by9pbmZvc3lzLXUt/cy1lZHVjYXRpb24t/Y2VudGVyLWluZm9z/eXMtaXMtYmFzZWQt/aW4taW5kaWEtYW5k/LWlzLWEtd29ybGR3/aWRlLWl0LWFpLWFu/ZC1kaWdpdGFsLmpw/Zz9zPTYxMng2MTIm/dz0wJms9MjAmYz1F/aUNJenF1TVNaeDNJ/VVdlUVBxUUl1THdP/S0R0M0dqOVVRSnky/VU12cG1VPQ" alt="Card Image" class="card-image">
                <p class="badge badge-designer">Data Analyst</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.infosys.com/'">Click here</button>

              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/QShOn8T86Br_p2uH5LsKxD7EU311En-Nl34rnps6wzY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bGl2ZW1pbnQuY29t/L2xtLWltZy9pbWcv/MjAyNS8wMS8wNi82/MDB4MzM4L1dJUFJP/LVJFU1VMVFMtLTBf/MTcwODUzMDAyOTYw/NF8xNzM2MTU4NzM2/MDQzLkpQRw" alt="Card Image" class="card-image">
                <p class="badge badge-developer">Data Scientist</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.wipro.com/'">Click here</button>
              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/qA7thHvsc2JM9KjHstl_DeF2a4D0OlMeXCEj6K_J1pY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9lcnAu/dG9kYXkvd3AtY29u/dGVudC91cGxvYWRz/LzIwMjQvMDcvMzk4/NTczMTYxNV8yMTA3/OGU0NzkzX28tMTAy/NHg2ODUuanBn" alt="Card Image" class="card-image">
                <p class="badge badge-marketer">Machine Learning Engineer</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.cognizant.com/in/en'">Click here</button>

              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/67myYyPI9CjFpwcF_pY41iZurX4ZOQ34v26FfFJ2LNw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9j/L2M5L1pvaG9faGVh/ZHF1YXJ0ZXJzX2lu/X2NoZW5uYWkuanBn" alt="Card Image" class="card-image">
                <p class="badge badge-gamer">NLP Engineer</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.zoho.com/'">Click here</button>

              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img src="https://imgs.search.brave.com/5Sml776_IVK3_R8vnJI49U6LMN3s9JH3e5mJC-A4gZo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTA0/NDk3NjA1Mi9waG90/by9hbWF6b24tY29t/LWZ1bGZpbGxtZW50/LWNlbnRlci1hbWF6/b24taXMtdGhlLWxh/cmdlc3QtaW50ZXJu/ZXQtYmFzZWQtcmV0/YWlsZXItaW4tdGhl/LXVuaXRlZC5qcGc_/cz02MTJ4NjEyJnc9/MCZrPTIwJmM9RWs1/Um02Z1psWUY2QUd3/RDl2NHlDSG55b05j/TGlhWDNLZ2V4N3Vi/OUxMdz0" alt="Card Image" class="card-image">
                <p class="badge badge-editor">AI Engineer</p>
                <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                <button class="card-button material-symbols-rounded">arrow_forward</button>
                <button class="click" onclick="window.location.href='https://www.amazon.com/'">Click here</button>

              </a>
            </li>
          </ul>

          
          <div class="swiper-pagination"></div>
          <div class="swiper-slide-button swiper-button-prev"></div>
          <div class="swiper-slide-button swiper-button-next"></div>
        </div>
      </div>

      
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    new Swiper('.card-wrapper', {
    loop: true,
    spaceBetween: 30,
    pagination: {
        el: '.swiper-pagination',
        clickable: true,
        dynamicBullets: true
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    breakpoints: {
        0: {
            slidesPerView: 1
        },
        768: {
            slidesPerView: 2
        },
        1024: {
            slidesPerView: 3
        }
    }
});
  </script>
   <button class="open-btn" onclick="toggleNav()">☰</button>
   <div id="mySidebar" class="sidebar">
     <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
     <a href="{%url 'home'%}">Home</a>
     <a href="{%url 'syllabus'%}">Courses</a>
     <a href="{%url 'about'%}">About Us</a>
     <a href="#footer">Contact Us</a>
     
   </div>
   <script>
     function toggleNav() {
     var sidebar = document.getElementById("mySidebar");
     sidebar.classList.toggle("open");
   }
   
   </script>


  
</footer>
</body>
</html>